*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    background: #f4f4f4;
}

.sidebar{
    width: 250px;
    min-height: 100vh;
    background: #1b1b1b;
    color: white;
    padding: 20px;
}

.sidebar h2{
    color: #c8102e;
    margin-bottom: 40px;
}

.sidebar a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.sidebar a:hover{
    background: #005bac;
}

.main{
    flex: 1;
    padding: 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cards{
    display: flex;
    gap: 20px;
}

.card{
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
}

.card p{
    font-size: 20px;
    color: #c8102e;
    margin-top: 15px;
}

.dashboard-container {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    align-items: stretch;
}

.form-card, .saved-items-card {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
}

.form-card h2 {
    margin-bottom: 15px;
}

.saved-items-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    width: 100%;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    color: #64748b;
    font-weight: bold;
}